.container {
    width: 500px;
    height: 500px;
    
}

.box {
    width: 5px;
    height: 5px;
    border-style: solid;
    border-color: black;
}

.horizontal1 {
    display: flex;
    
}

.horizontal2 {
    display: flex;  
   
}