.container {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    
}

.box {
    width: 125px;
    height: 125px; 
    border-style: solid;
    border-color: black;
    /* flex-grow: 1; */
}

